@page "/EndQuiz"

<Div Flex="Flex.JustifyContent.Center">
    <h1>@CategoryName</h1>
</Div>
<hr />
<div class="text-center">
    <h3 class="m-2 text-color-danger">Report Quiz</h3>

    <Div>
        <Buttons Margin="Margin.Is3">
            <Button class="text-white-85 size-200" TextWeight="TextWeight.Bold" Color="Color.Success" @onclick="() => SetListView(CorrectAnswerList)">Correct Answers</Button>
            <Button class="text-white-85 size-200" TextWeight="TextWeight.Bold" Color="Color.Danger" @onclick="() => SetListView(WrongAnswersList)">Wrong Answers</Button>
            <Button class="text-white-85 size-200" TextWeight="TextWeight.Bold" Color="Color.Info" @onclick="() => SetListView(AnswersList)">All Answers</Button>
        </Buttons>
    </Div>
</div>

@foreach(QuestionAnswer question in CurrentList)
{
   <div class="container-fluid container bg-light border border-3 border-primary p-3 rounded-3 shadow rounded-3 w-75">
       
        <div class="text-center">
            <h3 class="m-2">@question.QuestionName</h3>
        </div>
        
        <ListGroup>
            @foreach (KeyValuePair<string, int> questionShfulle in question.ShuffleAnswersList)
            {

                if (questionShfulle.Value == question.CorrecValueAnswer)
                {
                    <ListGroupItem Color="Color.Success">
                        <span class="oi oi-circle-check" aria-hidden="true"></span>&nbsp;&nbsp;@questionShfulle.Key
                    </ListGroupItem>
                } else if (question.SelectedByUser == 0) { 
                    <ListGroupItem Color="Color.Dark">
                        <span class="oi oi-circle-x" aria-hidden="true"></span>&nbsp;&nbsp;@questionShfulle.Key
                    </ListGroupItem>
                }
                else
                {
                    if (question.SelectedByUser == questionShfulle.Value)
                    {
                        <ListGroupItem Color="Color.Danger">
                            <span class="oi oi-circle-x" aria-hidden="true"></span>&nbsp;&nbsp;@questionShfulle.Key
                        </ListGroupItem>
                    }
                    else
                    {
                        <ListGroupItem Color="Color.Light">
                            <span class="oi oi-circle-x" aria-hidden="true"></span>&nbsp;&nbsp;@questionShfulle.Key
                        </ListGroupItem>
                    }
                }
            }
        </ListGroup>
</div>
}
