@page "/"
@inject IJSRuntime JSRuntime


<h1>Quiz questions!</h1>

Welcome to quiz questions, the place on you can training the likeding assessment, and learn with the documentation.

Here you can see your results and learn in what questions you failed, and learn about it. Moreower you can see the result in the time that you have and compare your progressión.

This project is building by:

<Div>
    <!-- ramon -->
    <GitHubComponent 
                     GitHubAvartLink="https://avatars.githubusercontent.com/u/53094553?v=4" 
                     Twitter="JockerMan_88" 
                     PersonalWeb="http://www.ramonmartineznieto.com/" 
                     Email="ramon.martinez.nieto@gmail.com" 
                     GitHub="RamonMartinezNieto" 
                     Linkedin="ramonmartienznieto"/>
    <!-- marina -->
    <GitHubComponent 
                     GitHubAvartLink="https://avatars.githubusercontent.com/u/69960827?v=4" 
                     Twitter="_marinamer" 
                     PersonalWeb="https://marinamer.com/" 
                     Email=" amer.marina@gmail.com" 
                     GitHub="MarinaMer" 
                     Linkedin="marina-amer"/>
</Div>


The data was processed by:

Marina

And it is possible thankfully Ebazhanov he is the owner of the linkedin-assessments-quizzes on GitHub

Ebazhanov

And obviously all people that contributed in this repo:

Contributors:

Scraper


<SurveyPrompt Title="How is Blazor working for you?" />
